atom-workspace,
atom-text-editor {
   font-family: "Operator Mono";
   font-weight: 600;
   line-height: 1.7;
}
atom-panel.tool-panel {
   font-size: 1em;
}

.entity.other.attribute-name {
    font-style: italic;
}

atom-text-editor.editor .syntax--entity.syntax--other.syntax--shadow {
  .entity.other.attribute-name {
      font-style: italic;
  }
}

.tab-bar .tab.active {
  -webkit-flex: 1;
  flex: 1;
}

.tab-bar {
  .tab {
    max-width: initial;
  }
}
